<div class="container">
  <div class="row" >

    <div class="col-md-4" >


      <h2 style="color: white; opacity: 1.0;text-shadow: black 0.1em 0.1em 0.2em"><strong> Welcome to Travel Tinder </strong> </h2>
      <h2 style="color: white;text-shadow: black 0.1em 0.1em 0.2em"><strong>your <em>perfect</em> adventuring partner lies within.</strong></h2>


    </div>
    <div class="col-md-6"> </div>
    <div class="col-md-2">

    <% unless user_signed_in? %>
      <h3 style="color: white; opacity 1.0;"><strong> <a href="/users/sign_up"><font color="FFFFFF">Sign Up Now!</a></strong> </h2>
    <% end %>


      </div>
    </div>
  </div>

