 <div class="container">
 	<div class="row">
 		<div class="col-md-6">
 		<h1>New Destination</h1>

<%= @curr_user.email %>

<%= render 'form' %>

<%= link_to 'Back', destinations_path %>
</div>
</div>
</div>